:host{
  display: block;
  height: 100%;
}

.wrapper{
  height: 100%;
}

.receiver-wrapper{
  height: 100%;
  padding: 10px;
  overflow: auto;
}

h4{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.edit-icon{
  text-align: right;
}

.app-back-to-top-wrapper {
  position: fixed;
  right: 16px;
  bottom: 120px;
}