<label class="uploader" ondragover="return false;" [class.loaded]="loaded" [style.outlineColor]="dragging ? activeColor : baseColor"
  (dragenter)="handleDragEnter()" (dragleave)="handleDragLeave()" (drop)="handleDrop($event)">

  <mat-icon class="icon" [style.color]="dragging 
  ? ((imageSrc.length > 0) ? overlayColor : activeColor)
  : ((imageSrc.length > 0) ? overlayColor : baseColor)">file_upload</mat-icon>


  <img [src]="imageSrc" (load)="handleImageLoad()" [class.loaded]="imageLoaded" />

  <input type="file" name="file" accept="image/*" (change)="handleInputChange($event)">
</label>