.container{
  padding: 0px;
  height: 24px;
}
.mat-input{
  border-style: none;
}
.mat-icon-button, .mat-icon-button .mat-icon{
  font-size:24px !important;
  height: 24px !important;
  line-height:24px !important;
  display: block !important;
  text-align: center;
}