<div fxLayout="column" class="wrapper">
  <div fxFlex="none" class="mat-elevation-z4">
    <app-top-bar title="购物车"></app-top-bar>
  </div>
  <div fxFlex="grow" #container fxLayout="column" class="commodities_wrapper" *ngIf="commodities">
    <div *ngFor="let commodity of commodities; let i=index" fxFlex="nogrow" fxFlexAlign="center">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="item-container">
        <mat-checkbox fxFlex="none" color="primary" [(ngModel)]="commodity.selected"></mat-checkbox>
        <img class="commodityImg" [src]="commodity.img" [alt]="commodity.title" fxFlex="33%">
        <div fxFlex fxLayout="column">
          <p fxFlex="nogrow">
            {{commodity.title}}
            <br> {{commodity.description}}
          </p>
          <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="space-between center">
            <h4 fxFlex="nogrow">{{commodity.price | currency:'CNY':'symbol-narrow'}}</h4>
            <app-item-count fxFlex="nogrow" [(count)]="commodity.count"></app-item-count>
          </div>
          <div fxFlex="nogrow" *ngIf="commodity.bLack">
            <h4 class="warn-message">产品剩余数量：{{commodity.currentAmount}}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="app-back-to-top-wrapper">
      <app-back-to-top [container]="container"></app-back-to-top>
    </div>
  </div>
  <mat-toolbar fxFlex="none" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="commodities">
    <p>合计：{{getTotalAmount() | currency:'CNY':'symbol-narrow'}}</p>
    <button mat-button fxFlex="grow" color="warn" (click)="onRemoveClick()" [disabled]="commodities.length==0">删除</button>
    <button mat-button fxFlex="grow" color="warn" (click)="onSettleClick()" [disabled]="commodities.length==0">去结算</button>
  </mat-toolbar>
</div>