:host{
  display: block;
  height: 100%;
}

.container{
  height: 100%;
  padding: 10px;
  overflow-y: auto;
}

.mat-input-container{
  width: 100%;
}

.mat-table{
  overflow-x: auto;
  overflow-y: hidden;
}

.mat-header-cell, .mat-cell{
  min-width: 100px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.mat-header-cell:nth-of-type(1), .mat-cell:nth-of-type(1){
  width: 50px;
  max-width: 50px;
  min-width: 50px;
}

.check-box-column{
  width: 50px;
}

.mat-column-select {
  overflow: initial;
}

.dirty-flag{
  font-size: 10px;
  color: red;
}