<div>
  <div>
    <mat-form-field>
      <input matInput (keyup)="applyFilter()" placeholder="搜索" [(ngModel)]="filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="SerialNo">
      <mat-header-cell *matHeaderCellDef> 序号 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.SerialNo}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="UserName">
      <mat-header-cell *matHeaderCellDef> 用户名 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.UserName.data}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="UserTypeID">
      <mat-header-cell *matHeaderCellDef> 身份 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.UserTypeID.data}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="RealName">
      <mat-header-cell *matHeaderCellDef> 真实姓名 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.RealName.data}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Tel">
      <mat-header-cell *matHeaderCellDef> 联系电话 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Tel.data}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Address">
      <mat-header-cell *matHeaderCellDef> 地址 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Address.data}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Password">
      <mat-header-cell *matHeaderCellDef> 密码 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Password.data}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="LastLoginTime">
      <mat-header-cell *matHeaderCellDef> 上次登陆时间 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.LastLoginTime.data}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="UpperID">
      <mat-header-cell *matHeaderCellDef> 上级用户 </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.UpperID.data}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>