<div fxLayout="column" class="container">
  <div fxFlex>
    <div fxLayout="row">
      <button mat-raised-button>增加</button>
      <button mat-raised-button>删除</button>
      <button mat-raised-button>刷新</button>
      <button mat-raised-button>保存</button>
    </div>
  </div>
  <div fxFlex>
    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="check-box-column">
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="check-box-column">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="SerialNo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 序号 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.SerialNo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="UserName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 用户名 </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.UserName.data">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="UserTypeID">
        <mat-header-cell *matHeaderCellDef mat-sort-heade> 身份 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.UserTypeID.data}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="RealName">
        <mat-header-cell *matHeaderCellDef mat-sort-heade> 真实姓名 </mat-header-cell>
        <mat-cell *matCellDef="let element; let i=index">
          <mat-form-field>
            <input matInput [(ngModel)]="element.RealName.data" [formControl]="element.RealName.control" required (ngModelChange)="element.RealName.Changed()">
            <mat-icon matSuffix class="dirty-flag" *ngIf="element.RealName.bDirty">star</mat-icon>
            <h4 *ngIf="element.RealName.invalid">必须输入真实姓名</h4>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Tel">
        <mat-header-cell *matHeaderCellDef mat-sort-heade> 联系电话 </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.Tel.data">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Address">
        <mat-header-cell *matHeaderCellDef mat-sort-heade> 地址 </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-form-field>
            <input matInput [(ngModel)]="element.Address.data">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Password">
        <mat-header-cell *matHeaderCellDef mat-sort-heade> 密码 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.Password.data}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="LastLoginTime">
        <mat-header-cell *matHeaderCellDef mat-sort-heade> 上次登陆时间 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.LastLoginTime.data}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="UpperID">
        <mat-header-cell *matHeaderCellDef mat-sort-heade> 上级用户 </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.UpperID.data}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageChangeEvent($event)">
    </mat-paginator>
  </div>
</div>