:host{
  height: 100%;
  display: block;
}

.container{
  height: 100%;
}

.productContainer{
  padding: 5px;
  height: 100%;
  overflow-x: wrap;
  overflow-y: auto;
}

.productImg{
  width: 100%;
  height: 100%;
  padding: 5px;
}

.warning-title{
  text-align: center;
}
