<div class="app-wrapper" fxLayout="column">
  <header fxFlex="none" class="mat-elevation-z6">
    <app-top-bar></app-top-bar>
  </header>
  <main fxFlex="grow">
    <mat-sidenav-container class="sidenav">
      <mat-sidenav #sidenav mode="side" [opened]="true">
        <app-side-nav></app-side-nav>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </main>
  <footer fxFlex="none">
  </footer>
</div>