<div class="container" fxLayout="column">
  <div fxFlex="none" class="mat-elevation-z4">
    <app-top-bar title="商品列表"></app-top-bar>
  </div>
  <div *ngIf="bLoading" class="progress-wrapper" fxFlex="none">
    <app-progress message="读取商品"></app-progress>
  </div>
  <div fxFlex="nogrow" fxLayout="column" #container class="products_wrapper">
    <div fxFlex="initial" fxFlexAlign="center" *ngFor="let product of products">
      <app-product [product]="product" [routerLink]="['/browse/products', product.ID]"></app-product>
    </div>
    <div class="app-back-to-top-wrapper">
      <app-back-to-top [container]="container"></app-back-to-top>
    </div>
  </div>
</div>