:host{
  display: block;
  height: 100%;
}

.wrapper{
  height: 100%;
}

.orders-wrapper{
  height: 100%;
  padding: 5px;
  overflow: auto;
}
.order-img{
  padding: 0px 5px;
  width: 100%;
  height: 100%;
}

h4{
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}


.app-back-to-top-wrapper {
  position: fixed;
  right: 16px;
  bottom: 80px;
}
