<div fxLayout="column" class="wrapper">
  <div *ngIf="bLoading" fxFlex="none">
    <app-progress message="读取订单列表"></app-progress>
  </div>
  <div fxFlex="grow" fxLayout="column" fxLayoutGap="10px" #container class="orders-wrapper">
    <mat-card fxFlex="noshrink" fxLayout="row" fxLayoutAlign="space-between" *ngFor="let order of orders">
      <img class="order-img" [src]="order.Picture" [alt]="order.title" fxFlex="33%">
      <div fxFlex fxLayout="column">
        <p fxFlex="nogrow">
          {{order.Title}}
        </p>
        <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="space-between center">
          <h4 fxFlex="nogrow">{{order.Price | currency:'CNY':'symbol-narrow'}}</h4>
          <h4 fxFlex="nogrow">&Chi;{{order.Amount}}</h4>
        </div>
        <div fxFlex="nogrow">
          <h4>总价: {{order.Price * order.Amount | currency:'CNY':'symbol-narrow'}}</h4>
        </div>
      </div>
    </mat-card>
    <div class="app-back-to-top-wrapper">
      <app-back-to-top [container]="container"></app-back-to-top>
    </div>
  </div>
</div>