<div class="container" fxLayout="column">
  <mat-form-field fxFlex="nogrow">
    <input matInput type="text" placeholder="商品名称">
  </mat-form-field>

  <mat-form-field fxFlex="nogrow">
    <textarea matInput placeholder="商品描述"></textarea>
  </mat-form-field>

  <mat-form-field fxFlex="nogrow">
    <input matInput type="number" placeholder="商品价格">
  </mat-form-field>

  <mat-form-field fxFlex="nogrow">
    <input matInput type="number" placeholder="商品价格">
  </mat-form-field>

  <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="space-between" class="img-container">
    <div fxFlex>
      <app-file-selector (onFileSelect)="onFileSelect($event, 0)"></app-file-selector>
    </div>
    <div fxFlex>
      <app-file-selector (onFileSelect)="onFileSelect($event, 1)"></app-file-selector>
    </div>
    <div fxFlex>
      <app-file-selector (onFileSelect)="onFileSelect($event, 2)"></app-file-selector>
    </div>
    <div fxFlex>
      <app-file-selector (onFileSelect)="onFileSelect($event, 3)"></app-file-selector>
    </div>
  </div>

  <div fxFlex="nogrow" fxLayout="row">
    <button mat-raised-button color="warn" fxFlex="nogrow">取消</button>
    <button mat-raised-button color="warn" fxFlex="nogrow">保存</button>
  </div>

</div>